@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);

#header {
  text-align: center;
}
#wrapper {
  width: 1300px;
  height: 600px;
  border: 1px solid rgb(146, 118, 118);
  overflow: hidden; /* add this to contain floated children */
  margin-left: 20px;
}
#first {
  width: 200px;
  margin: 0 auto;
  float: left;
  margin-left: 500px;
}

#second {
  float: left;
  width: 200px;
}
#third {
  margin-top: 180px;
  margin-left: 500px;
  width: 200px;
  
}

.types {
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: teal;
}

/* ------------------------------------------------------ */
body {
	background: linear-gradient(90deg, #d9d9e7 10%, #a7aeb3 90%);
}

 


