{% extends 'base.html' %}

{% block head %}
<h1>yzb81</h1>

{% endblock %}

{% block body %}
    <p id="Sera1"></p>
    <p id="Sera2"></p>
    <p id="Sera3"></p>
    <p id="Sera4"></p>
    <!-- <div class="slidecontainer">
         <form method="post" action="http://127.0.0.1:5000/">
         <label for="points">Points:</label>
         <input type="range" min="1" max="100" value="submit" class="slider" id="myRange">
         <input type="submit" data-inline="true" value="Submit">
         <p>Value: <span id="demo"></span></p>
         </form>
         </div>

         <div>
         
         </div> -->

{% endblock %}
